.container {
    margin: 0;
    padding: 0;
    /* background-image: url('src/assets/sky.jpg'); */
    background-size: cover;
    /* background-color: #062134; */
    background-color: #0e1022;

    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1000px) {
    .container{
        height: 200vh;
    }
}